
.__signs_div{
    display: flex;
    flex-direction: row;
}

.__signs_sign_div {
    border: 7px solid #7fa1a7;
    box-shadow: 0 0 7px #7fa1a7;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 2rem;
    font-family: 'Permanent Marker', cursive;
    margin: 1rem;
}
.__signs_sign_div:hover {
    cursor: pointer;
}